<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Innovation Predictive Analysis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Analytica</h1>
  </header>
  <main>
    <section class="dashboard">
      <ul>
        <li><a href="{{ url_for('visualize') }}"><i>Visualization of Data</i></a></li>
        <li><a href="{{ url_for('predict') }}"><i>Innovation Prediction</i></a></li>
      </ul>
    </section>
    <section class="about-us">
      <h2><b>What is Analytica?</b></h2>
      <p>It is a comprehensive innovation analysis tool that combines advanced data analytics, machine learning, and visualization techniques to provide actionable insights. Our platform is designed to help users:</p>
      <ul>
        <li>Explore: Identify key trends, patterns, and correlations in their data</li>
        <li>Predict: Forecast future outcomes and scenarios with accuracy</li>
        <li>Innovate: Develop new ideas and solutions based on data-driven insights</li>
      </ul>
      <h3><b>Features</b></h3>
      <ul>
        <li>Advanced Data Analytics: Leverage machine learning algorithms and statistical models to uncover hidden insights</li>
        <li>Interactive Visualizations: Explore data through interactive charts, graphs, and plots</li>
        <li>Predictive Modeling: Forecast future outcomes and scenarios with accuracy</li>
      </ul>
      <h3><b>Benefits</b></h3>
      <ul>
        <li>Data-Driven Decision Making: Make informed decisions with confidence</li>
        <li>Increased Efficiency: Streamline data analysis and reduce time-to-insight</li>
        <li>Competitive Advantage: Stay ahead of the competition with actionable insights</li>
      </ul>
    </section>
  </main>
</body>
</html>