<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Innovation Prediction</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Innovation Prediction</h1>
  </header>
  <main>
    <section class="prediction-container">
        <h2>Best Company with Scope For Innovation</h2>
        <h3 id="prediction-result">{{ prediction }}</h3>
        <h4>Market Share in %-</h4>
        <p id="marketshare">{{ market_share}}</p>
    </section>
  </main>
</body>
</html>