<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualize Data</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Visualize Data</h1>
  </header>
  <main>
    <section class="chart-container">
        <h2>Companies v/s R&D Expenditure</h2>
        <img src="{{ bar_chart_url }}" alt="Bar Chart">
    </section>
      
    <section class="chart-container">
        <h2>Market Share v/s Product Launch Success</h2>
        <img src="{{ scatter_plot_url }}" alt="Scatter Plot">
    </section>
  </main>
</body>
</html>